// -- Media Query

// Iphone X & Smaller - Max width 400px
@media(max-width: 500px) {

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

        ul{
            li {
                a {
                    font-size: 1.3rem;
                }
                margin: 1rem;

            }

        }

        .color-switch-container {
            margin-bottom: 1rem;
        }
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 2rem;
    }

    #illustrations {
        .images {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
        }
    }
}
